.snakemake
0.correction/*
1.metadata/*
3.genome
4.preprocessing/*
!4.preprocessing/log
4.preprocessing/log/*
5.bam/*
6.peakcalling/*
7.bigwig/*
8.quality/*
9.bed/*
# Don't ignore those files
!1.metadata/*.md
!1.metadata/*.tsv
!1.metadata/*.csv
!3.genome/*.md
!4.preprocessing/*.md
!5.bam/*.md
!6.peakcalling/*.md
!7.bigwig/*.md
!8.quality/*.md
